body
{
  background-image: url("img/space.gif");
  color: deeppink;
  font-family: Ubuntu;
  font-size: 15pt;
}

form
{
  background-color: deeppink;
  margin: 50px auto;
  width: 300px;
  color: cornflowerblue;
  padding: 10px 100px 10px 100px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #000;
  
}

form>h2
{
  text-align: center;
  text-decoration: underline;
}