.cabecera
{
text-align:left;
margin-bottom:0;
}

table#registro{
padding:10px;
float:right;
background-color:#FFCC33;
width:300px;
}
table#registro2{
padding:10px;
float:right;
background-color:#FFCC33;
width:300px;
margin-top:-100px;
}
.pie
{
text-align:center;
padding:10px;
}

.menu
{
float:left;
background-color:white;
width:275px;
height:800px;
}

.cuerpo
{
height:800px;
}

td,p{
font-family:Arial;
font-size:12pt;
}

h4
{
color:#0033FF;
}

ul
{
font-size:12pt;
float:left;
margin:10px;
padding:10px;
list-style-type:none;
width:200px;
background-color:#E1E1E1;
}

.contenedor{
width:90%;
font-family:arial;
font-size:11pt;
margin:0 auto;
}

.noticias{
font-size:14pt;
font-weight:bold;
}

.resaltado{
text-align:center;
background-color:#E1E1E1;
font-size:14pt;
}

a{
text-decoration:none;
color:#000000;
}

li:hover{
background-color:#A7A7A7;
}