body
{
  background-color: black;
}

h2
{
  font-family: Ubuntu;
  background-color: black;
  border: 2px solid rosybrown;
  color: lemonchiffon;
}

#principal
{
  width: 600px;
  padding: 20px;
  background-color: lightslategray;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#mensajes
{
  font-family: Arial;
  font-size: "14pt";
}
#editor
{
  width: 560px;
  padding: 15px;
  background-color: #BDBDBD;
  border-radius: 15px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#contenido
{
  width: 500px;
  min-height: 100px;
  padding: 10px;
  background-color: #F2F2F2;
  margin: 20px auto;
  border: 2px dotted black;
  font-family: Consolas;
  text-align: justify;
}

#botones
{
  width: 540px;
  padding: 12px;
  margin: 10px auto;
  border: 5px lightblue dotted;
  border-radius: 50px;
  background-color: #848484;
}

.boton
{
  width: 20px;
  height: 20px;
  border: 2px solid orchid;
  cursor: pointer;
}

.boton:hover
{
  border: black;
  box-shadow: #848484;
}
