#des1, #des2, #des3
{
  float: left;
  width: 150px;
  height: 200px;
  background-color: #D8D8D8;
  border: 3px solid black;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-family: Monaco;
}
#ar1, #ar2, #ar3
{
  float: left;
  height: 50px;
  width: 50px;
  background-color: #88d9f0;
  border: 3px solid black;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-family: monospace;
}