#principal
{
  width: 95%;
  height: 95%;
  margin: auto;
  background: black;
  border-radius: 20px;
  padding: 12px;
  border: 4px solid black;
  font-family: Ubuntu;
  font-size: 12pt;
}

#productos, #carrito
{
  width: 75%;
  margin: 25px auto;
  border-radius: 10px;
  padding: 10px;
  float: initial;
}

h4, h5
{
  font-size: 16pt;
  font-weight: bold;
  text-decoration: underline;
}
#carrito
{
  width: 65%;
  background: powderblue;
  padding: 10px;
  min-height: 200px;
  margin: 20px auto;
  float: inherit;
  border: 3px dotted tomato;
  text-align: center;
}

table, h1
{
  border: 2px solid darkgrey;
  width: 95%;
  text-align: center;
  background: lightskyblue;
  margin: 25px auto;
  float: inherit;
  padding: 5px;
}

th
{
  border: 1px solid black;
  background: dodgerblue;
  color: black;
  padding: 3px;
  margin: auto;
}

#pie
{
  clear: both;
}

img
{
  width: 60px;
  height: 60px;
  padding: 5px;
}
