﻿<frameset cols="*, 250">
	<frame src=pag1.html name="frame1"></frame>
	<frameset cols="50%, 50%">
		<frame src=pag2.html name="frame3"></frame>
		<frame src=pag1.html name="frame2"></frame>
	</frameset>
</frameset>