<frameset cols="*, 250">
			<frame src=Apuntes_Textos.html name="frame1"></frame>
			<frameset cols="50%, 50%">
				<frame src=Apuntes_Marcas.html name="frame3"></frame>
				<frame src=Apuntes_Enlaces_e_Imagenes.html name="frame2"></frame>
			</frameset>
</frameset>
